body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #5e5b5bad;
    color: #333333;

}
header {
    
    display: flex;
    justify-content: space-between;
    padding: 25px;

}

header .logo,
header .imagem-botao{ 
    /* o espaço é pra estilizar a classe logo q esta dentro do Header, se fosse apenas .logo estilizaria todas as classes logo */
    width: 30px;
    transition: 0.2s ease-in-out;
}

header #botao-alterar-tema{
    background-color: transparent;
    border: none;
    cursor: pointer; /*fazer o mouse ficar com clique*/
}
header .logo:hover,
header .imagem-botao:hover{  /*: cria pseudoclasse*/
    transform: scale(1.05);
    cursor: pointer;
}

main{
    padding: 25px;
}

.listagem-pokemon{
    display: flex;
    flex-wrap: wrap; /* qndo n tiver mais espaço quebra pra proxima linha*/
    gap: 30px; /*espaço entre os cartões*/
    justify-content: center; /* centraliza os elementos*/
    
}

.cartao-pokemon{
    background-color: #d8e3ec;
    width: 200px;
    padding: 15px;/*Espaçamento na borda da escrita do cartão*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /*Espaçamento entre os elementos escritos nesse caso*/
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover{
    background-color: #96d9d6;
    transform: scale(1.05);
    cursor: pointer;
}

.modo-escuro .cartao-pokemon{
    background-color: #a8a8a8;
}

main .cartao-pokemon .informacoes{
    display: flex;
    justify-content: space-between; /*separa em colunas do nome e código*/
    border: 1px solid #333333; /*Envolta ao nome cria a borda*/
    border-radius: 10px;
}

main .cartao-pokemon .informacoes span{
    padding: 5px; /*separaçaõ entre nome e código*/
    text-transform: uppercase; /*Transformar o texto do nome todo para maiusculo*/
    font-size: 17px;
}

main .cartao-pokemon .gif{
    width: 80px;
    height: 80px;    
}

main .cartao-pokemon .tipos{
    display: flex;/*colocar um do lado do outro*/
    gap: 15px; /*distancia entre os tipo*/
}

main .cartao-pokemon .tipo{
    padding: 8px;
    border-radius: 10px;
}

.grama{
    background-color: #7ac74c;
}

.veneno{
    background-color: #df67ddfb;
}

.fogo{
    background-color: #ee8130;
}

.agua{
    background-color: #6390f0;
}

.inseto{
    background-color: #a6b91a;
}

main .descricao{
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}


